


/* productbanner starts */


.productbanner-wrapper{
    background-image: url(./products\ banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.productbanner-wrapper>div,
.servicesbanner-wrapper>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
}
.productbanner-wrapper>div>h2,
.servicesbanner-wrapper>div>h2{
    color: white;
    font-size: 95px;
    letter-spacing: 10px;
    text-shadow: 0 0 20px #000;
    text-align: center;
}
.productbanner-wrapper>div>p,
.servicesbanner-wrapper>div>p{
    color: white;
    font-size: 30px;
    text-shadow: 0 0 20px #000;
    text-align: center;
}

/* productbanner ends */


/* para banner starts */
.para-wrapper{
    padding: 40px 10px;
}
.para-wrapper>p{
    font-size: 22px;
    font-family: "poppins", sans-serif;

}







/* para banner ends */




/* services section starts */


.servicepara{
    padding: 0 10px;
    padding-bottom: 40px;

}

.servicesbanner-wrapper{
    background-image: url(./servicesbanner.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-content: center;
}
.servicesbanner-wrapper>h2{
    font-weight: 600;
}




.servicepara-wrapper>div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 70px;



}
.servicepara-wrapper>div>div:nth-child(1){
    width: 40%;
    text-align: left;
    padding-left: 17px;
}
.servicepara-wrapper>div>div:nth-child(1)>h2{
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.servicepara-wrapper>div>div>p{
    margin-top: 10px;
    font-size: 18px;
    max-width: 500px;
}

.servicepara-wrapper>div>div:nth-child(2){
    width: 40%;
    height: 50%;
}
.servicepara-wrapper>div:nth-child(2)>div:nth-child(2){
    order: -1;
}







/* services section endss */



@media screen and (max-width:1000px){
    .productbanner-wrapper>div>h2{
        font-size: 60px;
    }
    .productbanner-wrapper>div>p,
    .servicesbanner-wrapper>div>p{
        font-size: 25px;
    }
    .servicesbanner-wrapper>div>h2{
        font-size: 45px;
        letter-spacing: 5px;
    }
    .servicepara-wrapper>div{
        flex-direction: column;
    }
    .servicepara-wrapper>div>div:nth-child(1){
        width: 90%;
    }
    .servicepara-wrapper>div>div:nth-child(2){
        width: 95%;
        height: auto;
        align-self: center;
    }


    .servicepara-wrapper>div>div:nth-child(2){
        order: -1;
    }



}
@media screen and (max-width:660px){
    .servicepara-wrapper>div>div:nth-child(2){
        width: 95%;
        height: auto;
        
    }
    
}



    


@media screen and (max-width:450px){
    .productbanner-wrapper>div>h2{
        font-size: 40px;
    }
    .productbanner-wrapper>div>p,
    .servicesbanner-wrapper>div>p{ 
        font-size: 20px;
    }
    .para-wrapper>p{
        font-size: 15px;
    }
    .servicesbanner-wrapper>div>h2{
        font-size: 10vw;
        letter-spacing: 0px;
    }
    .servicepara-wrapper>div>div:nth-child(1)>h2{
        font-size: 21px;
    }
    .servicepara-wrapper>div>div>p{
        font-size: 18px;
    }
}


@media (max-width:313px){
    
    main{
        overflow-x: hidden;
    }
    

}

    

