*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.docker{
    max-width: 1300px;
    margin: 0 auto;
}


/* header starts */

.head {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: white;
}
.head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    position: relative;
}
.head-wrapper>div:nth-child(3){
    display: flex;
    gap: 30px;
}
.head-wrapper>div:nth-child(3)>a{
    color: black;
    text-decoration: none;
}
.head-wrapper>div:nth-child(4){
    display: flex;
    gap: 20px;
    align-items: center;
}
.head-wrapper>div:nth-child(4)>a{
    color: black;
    text-decoration: none;
}

.head-wrapper>div:nth-child(4)>div>input{
    border: none;
}

.head-wrapper>div:nth-child(4)>div>input:focus{
    outline: none;
    box-shadow: none;
}

.head-wrapper>div:nth-child(4)>div{
    border: 2px solid black ;
    padding: 10px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;    
}
.head-wrapper>div:nth-child(1){
    display: none;
}





/* header ends */

.alert-banner{
    text-align: center;
    padding: 15px 20px;
    background-color: #2C5BB2;
    margin-top: 85px;

}
.alert-banner>h4{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;

}

/* slider starts */




.carousel-item {

    height: 750px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.carousel-caption {

    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    align-content: center;
    text-align: center;


}
.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.carousel-caption>h2{
    font-size: 60px;
    letter-spacing: 5px;
    margin: 0 auto;
    max-width: 800px;
    text-shadow: 0 0 20px #000;

}
.carousel-caption>p{
    font-size: 26px;
    margin: 10px auto 25px;
    max-width: 800px;
    font-weight: 700;
    text-shadow: 0 0 20px #000;

}
.carousel-caption>button {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-width: 2px;
    font-size: 30px;
    margin-bottom: 15px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-shadow: 0 0 20px #000;
    

}
.carousel-caption>button:hover {
    text-shadow: none;
    background-color: #fff;
    border: none;
}


/* slider ends */



/* section 1 starts */



.section1{
    background-color: #4D4D4D;

}
.section1-wrapper{
    padding: 75px 30px;


}

.section1-wrapper>h2{
    color: #fff;
    margin-bottom: 18px;
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 36px;


}
.section1-wrapper>p{
    color: #fff;
    font-size: 20px;
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    line-height: 1.5;
    font-family: "poppins";




}







/* section 1 ends */


/* Product range section starts */

.docker>h2{
    font-size: 27px;
    letter-spacing: 2px;
    text-align: center;
    padding: 0 15px;
    margin: 50px 0;
    font-weight: 650;
}
.docker>div:nth-child(2){
    height: 3px;
    width: 100px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 40px;
}


.ranges-wrapper>div:nth-child(1){
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;

}

.ranges-wrapper>div:nth-child(1)>div:nth-child(1),
.ranges-wrapper>div:nth-child(1)>div:nth-child(2),
.ranges-wrapper>div:nth-child(1)>div:nth-child(3){
    width: 30%;
}

.ranges-wrapper>div:nth-child(1)>div:nth-child(1)>h4,
.ranges-wrapper>div:nth-child(1)>div:nth-child(2)>h4,
.ranges-wrapper>div:nth-child(1)>div:nth-child(3)>h4{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center; 
}


.ranges-wrapper>div:nth-child(1)>div:nth-child(1)>div:nth-child(3)>p:nth-child(1),
.ranges-wrapper>div:nth-child(1)>div:nth-child(2)>div:nth-child(3)>p:nth-child(1),
.ranges-wrapper>div:nth-child(1)>div:nth-child(3)>div:nth-child(3)>p:nth-child(1){
    background-color: #7d8180;
    padding: 2px 10px;
    width: fit-content;
    color: #fff;
    border-radius: 5px;

}
.ranges-wrapper>div:nth-child(1)>div:nth-child(1)>div:nth-child(3)>p:nth-child(2),

.ranges-wrapper>div:nth-child(1)>div:nth-child(3)>div:nth-child(3)>p:nth-child(2){
    padding: 2px 10px;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;

}


.ranges-wrapper>div:nth-child(1)>div:nth-child(2)>div:nth-child(3)>p:nth-child(2){
    background-color: #7d8180;
    padding: 2px 10px;
    width: fit-content;
    color: #fff;
    border-radius: 5px;

}
.ranges-wrapper>div:nth-child(1)>div:nth-child(2)>div:nth-child(3)>p:nth-child(3){
    padding: 2px 10px;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
}


.ranges-wrapper>div:nth-child(1)>div:nth-child(1)>div:nth-child(3),
.ranges-wrapper>div:nth-child(1)>div:nth-child(2)>div:nth-child(3),
.ranges-wrapper>div:nth-child(1)>div:nth-child(3)>div:nth-child(3){
    display: flex;
    gap: 7px;
    justify-content: center;
    margin-bottom: 0;

} 
.ranges-wrapper>div:nth-child(1)>div:nth-child(2)>div:nth-child(3){
    flex-wrap: wrap;
}
.ranges-wrapper>div:nth-child(1)>div:nth-child(2)>div:nth-child(3)>p{
    margin-bottom: 0;
}




.ranges-wrapper>div:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;

}
.ranges-wrapper>div:nth-child(2)>div:nth-child(1),
.ranges-wrapper>div:nth-child(2)>div:nth-child(2),
.ranges-wrapper>div:nth-child(2)>div:nth-child(3){
    width: 30%;
}
.ranges-wrapper>div:nth-child(2)>div:nth-child(1)>h4,
.ranges-wrapper>div:nth-child(2)>div:nth-child(2)>h4,
.ranges-wrapper>div:nth-child(2)>div:nth-child(3)>h4{
        padding-top: 15px;
        padding-bottom: 10px;
        text-align: center; 
}
.ranges-wrapper>div:nth-child(2)>div:nth-child(1)>div:nth-child(3)>p:nth-child(1),
.ranges-wrapper>div:nth-child(2)>div:nth-child(2)>div:nth-child(3)>p:nth-child(1),
.ranges-wrapper>div:nth-child(2)>div:nth-child(3)>div:nth-child(3)>p:nth-child(1){
    background-color: #7d8180;
    padding: 2px 10px;
    width: fit-content;
    color: #fff;
    border-radius: 5px;

}
.ranges-wrapper>div:nth-child(2)>div:nth-child(1)>div:nth-child(3)>p:nth-child(2){
    background-color: #7d8180;
    padding: 2px 10px;
    width: fit-content;
    color: #fff;
    border-radius: 5px;

}
.ranges-wrapper>div:nth-child(2)>div:nth-child(1)>div:nth-child(3)>p:nth-child(3){
    padding: 2px 10px;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
}

.ranges-wrapper>div:nth-child(2)>div:nth-child(3)>div:nth-child(3)>p:nth-child(2){
    padding: 2px 10px;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;

}


.ranges-wrapper>div:nth-child(2)>div:nth-child(2)>div:nth-child(3)>p:nth-child(2){
    background-color: #7d8180;
    padding: 2px 10px;
    width: fit-content;
    color: #fff;
    border-radius: 5px;

}
.ranges-wrapper>div:nth-child(2)>div:nth-child(2)>div:nth-child(3)>p:nth-child(3){
    padding: 2px 10px;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
}


.ranges-wrapper>div:nth-child(2)>div:nth-child(1)>div:nth-child(3),
.ranges-wrapper>div:nth-child(2)>div:nth-child(2)>div:nth-child(3),
.ranges-wrapper>div:nth-child(2)>div:nth-child(3)>div:nth-child(3){
    display: flex;
    gap: 7px;
    justify-content: center;
    margin-bottom: 0;

} 
.ranges-wrapper>div:nth-child(2)>div:nth-child(1)>div:nth-child(3){
    flex-wrap: wrap;
}
.ranges-wrapper>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>p{
    margin-bottom: 0;
}










/* Product range section ends */



/* info banner starts */


.info-wrapper{
    width: 100%;
    display: flex;
}

.info-wrapper>div:nth-child(1){
    width: 50%;
    background-color: #41424f;
    display: flex;
    justify-content: flex-end;
}
.info-wrapper>div:nth-child(1)>div:nth-child(1),
.info-wrapper>div:nth-child(2)>div:nth-child(1){

    text-align: center;
    width: 570px;
    padding: 50px 20px;

}
.info-wrapper>div:nth-child(2){
    width: 50%;
    background-color: black;
    display: flex;
    justify-content: flex-start;

}
.info-wrapper>div:nth-child(1)>div:nth-child(1)>h1,
.info-wrapper>div:nth-child(2)>div:nth-child(1)>h1{
    
    color: white;
}
.info-wrapper>div:nth-child(1)>div:nth-child(1)>h2{
    color: white;
    font-size: 25px;
}
.info-wrapper>div:nth-child(1)>div:nth-child(1)>div,
.info-wrapper>div:nth-child(2)>div:nth-child(1)>div{
    width: 100px;
    height: 2px;
    background-color: white;
    margin: 20px auto;
    
}
.info-wrapper>div:nth-child(1)>div:nth-child(1)>p,
.info-wrapper>div:nth-child(2)>div:nth-child(1)>p{
    color: white;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.info-wrapper>div:nth-child(1)>div:nth-child(1)>a,
.info-wrapper>div:nth-child(2)>div:nth-child(1)>a{
    color: white;
    text-decoration: underline;
}

@media screen and (max-width:700px){

    .info-wrapper{
        flex-direction: column;
    }
    .info-wrapper>div:nth-child(1),
    .info-wrapper>div:nth-child(2){
        width: 100%;
        justify-content: center;
    }
}



/* info banner ends */


/* social media banner starts */


.socialmedia{
    background-color: #c6c6c6;
    padding-top: 40px;
    padding-bottom: 40px;
}
.socialmedia-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.socialmedia-wrapper>h5{
    margin: 0;
    margin-right: 30px;
    font-size: 30px;
}
.socialmedia-wrapper>div{
    display: flex;
    margin: 0;
    gap: 10px;
}

.socialmedia-wrapper>div>ul>li>a{
    color: black;
    font-size: 20px;
}
.socialmedia-wrapper>div>div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.socialmedia-wrapper>div>div>a{
    font-size: 20px;
    
}
.socialmedia-wrapper>div>ul>li{
    list-style-type: none;
}


@media screen and (max-width:790px){
    .socialmedia-wrapper>div{
        flex-wrap: wrap;
    }
    
}


@media screen and (max-width:1150px){

    .socialmedia-wrapper{
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
    }
    .socialmedia-wrapper>h5{
        margin: 0;
            
    }
    .socialmedia-wrapper>div>div{
        justify-content: center;
    }





}




/* social media banner ends */


/* footer starts */


.foot{
    padding: 50px 10px;
    background-color: #363636;
}
.foot-wrapper{
    width: 100%;
    display: flex;
}
.foot-wrapper>div:nth-child(1)>div{
    display: flex;
    gap: 10px;
    align-items: center;

}

.foot-wrapper>div:nth-child(1)>div>p{
    color: white;
    font-size: 20px;
    margin: 0;
    margin-bottom: 1px;
}
.foot-wrapper>div:nth-child(1)>div>div:nth-child(2),
.foot-wrapper>div:nth-child(1)>div>div:nth-child(3){
    /* display: flex;
    align-items: center; */
}
.foot-wrapper>div:nth-child(1)>div>div:nth-child(3)>a{
    color: white;
    text-decoration: none;
}
.foot-wrapper>div:nth-child(1)>p{
    color: white;
    font-size: 15px;
    padding: 20px 0 15px;
    margin: 0;
}

.foot-wrapper>div:nth-child(1)>div:nth-child(3)>a{
    color: white;
    font-size: 40px;
    text-decoration: none;
    padding-bottom: 10px;
}


.foot-wrapper>div:nth-child(1){
    width: 50%;
    display: flex;
    flex-direction: column;
}
.foot-wrapper>div:nth-child(2){
    width: 25%;
    display: flex;
    flex-direction: column;
}
.foot-wrapper>div:nth-child(2)>p{
    margin-bottom: 10px;
    color: white;
}

.foot-wrapper>div:nth-child(3){
    width: 25%;
    display: flex;
    flex-direction: column;
}
.foot-wrapper>div:nth-child(3)>p{
    margin-bottom: 10px;
    color: white;
}
.foot-wrapper>div:nth-child(2)>a,
.foot-wrapper>div:nth-child(3)>a{
    color: white;
}

.docker>p{
    color: white;
    margin: ;
}




@media screen and (max-width:800px){


.foot-wrapper{
    flex-wrap: wrap;
}

.foot-wrapper>div:nth-child(1){
    width: 100%;
}
.foot-wrapper>div:nth-child(2),
.foot-wrapper>div:nth-child(3){
    width: 50%;
    padding: 40px 0;
}




}




/* footer ends */





@media screen and (max-width:1000px){


    .head{
        padding-bottom: 50px;
    }
    .head-wrapper>div:nth-child(3){
        display: none;
    }
    .head-wrapper>div:nth-child(4)>a>span{
        display: none;
    }
    .head-wrapper>div:nth-child(1){
        display: flex;
    }
    .head-wrapper>div:nth-child(4)>div{
        position: absolute;
        top: 90%;
        left: 10%;
        width: 80%;
    }
    .head-wrapper>div:nth-child(4)>div>input{
        width: 100%;
    }

    .alert-banner{
        margin-top: 135px;
    }
    .alert-banner>h4{
        display: inline;
    }

    .carousel-caption>h2{
        font-size: 40px;
    }
    .carousel-caption>p{
        font-size: 20px;
        margin-top: 20px;
    }
    .carousel-caption>button{
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px 8px;
    }


    .ranges-wrapper>div:nth-child(1){
        flex-direction: column;
        align-items: center;
    }
    .ranges-wrapper>div:nth-child(2){
        flex-direction: column;
        align-items: center;
    }
    .ranges-wrapper>div:nth-child(1)>div:nth-child(1),
    .ranges-wrapper>div:nth-child(1)>div:nth-child(2),
    .ranges-wrapper>div:nth-child(1)>div:nth-child(3){
        width: 80%;
        margin-bottom: 40px;
    }
    .ranges-wrapper>div:nth-child(2)>div:nth-child(1),
    .ranges-wrapper>div:nth-child(2)>div:nth-child(2),
    .ranges-wrapper>div:nth-child(2)>div:nth-child(3){
        width: 80%;
        margin-bottom: 40px;
    }
    

}


@media screen and (max-width:450px){

    .carousel-caption>h2{
        font-size: 34px;
        letter-spacing: 2px;
    }
    .section1-wrapper>h2{
        font-size: 25px;
    }
    .section1-wrapper>p{
        font-size: 18px;
        line-height: none;

    }
    .socialmedia-wrapper>div>div{
        width: 40%;
    }
    .socialmedia-wrapper>div{
        justify-content: center;
        width: 100%;


    }

    .foot-wrapper>div:nth-child(2),
    .foot-wrapper>div:nth-child(3){
        width: 100%;
        padding: 40px 0;
    }
    .foot-wrapper>div:nth-child(1)>div:nth-child(3)>img{
        width: 40px;
    }

    .foot-wrapper>div:nth-child(1)>div:nth-child(3)>a{
        font-size: 30px;
    }


    
    


    
}



 @media (min-width: 1000px) and (max-width: 1200px) {

    .head-wrapper>div:nth-child(4)>div>input{
        display: none;
    }
        
    .head-wrapper>div:nth-child(4)>div{
        border: none;

    }

    


}

    












