*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}


/* header starts */

.head {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: white;
}
.head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    position: relative;
}
.head-wrapper>div:nth-child(3){
    display: flex;
    gap: 30px;
}
.head-wrapper>div:nth-child(4){
    display: flex;
    gap: 20px;
    align-items: center;
}
.head-wrapper>div:nth-child(4)>div>input{
    border: none;
}

.head-wrapper>div:nth-child(4)>div>input:focus{
    outline: none;
    box-shadow: none;
}

.head-wrapper>div:nth-child(4)>div{
    border: 2px solid black ;
    padding: 10px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;    
}
.head-wrapper>div:nth-child(1){
    display: none;
}





/* header ends */

.alert-banner{
    text-align: center;
    padding: 15px 20px;
    background-color: #2C5BB2;
    margin-top: 85px;

}
.alert-banner>h4{
    color: #fff;
}



@media screen and (max-width:1000px){


    .head{
        padding-bottom: 50px;
    }
    .head-wrapper>div:nth-child(3){
        display: none;
    }
    .head-wrapper>div:nth-child(4)>a>span{
        display: none;
    }
    .head-wrapper>div:nth-child(1){
        display: flex;
    }
    .head-wrapper>div:nth-child(4)>div{
        position: absolute;
        top: 90%;
        left: 25%;
        width: 50%;
    }
    .head-wrapper>div:nth-child(4)>div>input{
        width: 100%;
    }

    .alert-banner{
        margin-top: 135px;
    }
    .alert-banner>h4{
        display: inline;
    }

}



    @media (min-width: 1000px) and (max-width: 1200px) {

        .head-wrapper>div:nth-child(4)>div>input{
            display: none;
        }
        .head-wrapper>div:nth-child(4)>div{
            border: none;

        }

    


}

    












